.recommendationTiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items:flex-start;
    justify-content: space-between;
    width: auto;
}

.subSubHeading {
    color: #58315c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 3vh;
}

.formBox{
    display: flex;
    flex-direction: column;
    row-gap: 1.5vh;
}

.formBox label {
    color: #58315c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.Ootd{
    display: flex;
    justify-content: center;
}

.OotdTile {
    display: flex;
    justify-content: center;
    width: min(33vw,512px);
    height: min(33vw,512px);
    box-shadow:  3px 5px #58315c;
    border-radius: 25px;
    padding-top: 2vh; 
}

.OotdTile:hover {
    cursor: pointer;
    filter:brightness(120%);  
}

.OotdTile img {
    object-fit:contain;
}

.tileDesc {
    display: flex;
    justify-content: center;
    padding: 1vh;
    color: white;
    text-align: center;
    margin-top: 15px;
    height: auto;
    background-color: #58315cd8;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.modalButton {
    display: flex;
    justify-content: center;
    padding: 1vh;
    gap: 1vh;
}

.modalButton button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5vh;
    align-content: space-between;
    border-radius: 20px;
    text-transform: uppercase;
    width: 10vh;
}

.ootdSubtitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: #28002c;
    padding: 25px;
}

@media screen and (max-width: 1600px) {
    
    .ootdSubtitle{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 5vw;
        color: #28002c;
        padding: 25px;
    }
    .recommendationTiles {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .OotdTile {
        width: min(50vw,512px);
        height: min(50vw,512px);
    }

    .tileDesc {
        margin-bottom: 3vh;
    }

}

.generateButton{
    margin-top: -150px;
    margin-bottom: 100px;
}