.recommendationTiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items:flex-start;
    justify-content: space-between;
    width: auto;
}

.OotdTile {
    width: min(33vw,512px);
    height: min(33vw,512px);
    border: 2px solid black;
    box-shadow: 6px 6px 10px;
}

.OotdTile:hover {
    cursor: pointer;
    filter:brightness(120%);  
}

.OotdTile img {
    object-fit:contain;
}

.tileDesc {
    background-color: black;
    color: white;
    text-align: justify;
    margin-top: 15px;
    height: auto;
    margin: 5px;
}

.landingpageTitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 170px;
    color: rgba(255, 255, 255, 0);
    padding-top: 7vh;
    -webkit-text-stroke: 7px #28002c;
}

.landingpageSubtitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: #28002c;
    padding: 25px;
    
}

@media screen and (max-width: 1600px) {
    .landingpageTitle{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10vw;
        color: rgba(255, 255, 255, 0);
        padding-top: 7vh;
        -webkit-text-stroke: 7px #28002c;
    }

    .landingpageSubtitle{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 5vw;
        color: #28002c;
        padding: 25px;
    }
    .recommendationTiles {
        display: flex;
        flex-direction: column;
    }
    .OotdTile {
        width: min(50vw,512px);
        height: min(50vw,512px);
    }

    .tileDesc {
        margin-bottom: 3vh;
    }

}

@media screen and (max-width: 1000px) {

    .landingpageTitle {
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: black;
        -webkit-text-stroke: unset;
    }
    }