.recommendationTiles {
    padding-top: 1vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items:flex-start;
    justify-content: space-around;
    width: auto;
}

.subSubHeading {
    color: #58315c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 3vh;
}

.formBox{
    display: flex;
    flex-direction: column;
    row-gap: 1.5vh;
}

.formBox label {
    color: #58315c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.Ootd{
    display: flex;
    justify-content: center;
}

.OotdTile {
    display: flex;
    justify-content: center;
    width: min(33vw,512px);
    height: min(33vw,512px);
    border-radius: 2vh;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.OotdTile:hover {
    cursor: pointer;
    filter:brightness(120%);  
}

.OotdTile img {
    object-fit:contain;
}

.tileDesc {
    display: flex;
    justify-content: center;
    padding: 1vh;
    color: white;
    text-align: center;
    margin-top: 15px;
    height: auto;
    background-color: #58315cd8;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: min(39vw, 512px);
    justify-content: center;
}

.modalButton {
    display: flex;
    justify-content: center;
    padding: 1vh;
    gap: 1vh;
}

.modalButton button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5vh;
    align-content: space-between;
    align-items: center;
    border-radius: 2vh;
    text-transform: uppercase;
    width: 10vh;
}

.generateButton:hover{
    background-color: #ee6aecaf;
    border-color: #aaa;
    color: #fefefe;
}

.ootdSubtitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: #28002c;
    padding: 25px;
}

@media screen and (max-width: 1600px) {
    
    .ootdSubtitle{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 5vw;
        color: #28002c;
        padding: 25px;
    }
    .recommendationTiles {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .OotdTile {
        width: min(50vw,512px);
        height: min(50vw,512px);
    }

    .tileDesc {
        margin-bottom: 3vh;
    }

}

.generateButton{
    margin-top: -150px;
    margin-bottom: 100px;
}