@font-face {
  font-family: "moonlite-outline";
  src: url("/src/assets/fonts/moonlite-outline.ttf");
}

.subheading {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  color: #58315c;
  margin-bottom: 2vh;
  text-transform: uppercase;
}
