@font-face {
  font-family: "moonlite-outline";
  src: url("/assets/fonts/moonlite-outline.ttf");
}

.title {
  text-align: center;
  font-family: "moonlite-outline";
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 50px;
}
