.clothes-panel {
  margin: 20px;
  padding: 20px;
  background-color: rgb(225, 222, 222);
}

.card-image {
  width: 250px;
}

.clothe-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
