.clothes-panel {
  margin: 20px;
  padding: 20px;
  width: 100vw;
  max-width: 80vw;
  padding: 20px;
}

.card-image {
  width: 250px;
}

.clothe-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
