*{
    
    margin: auto;
}

.navbarStyle {
    position: fixed;
    height: 60px;
    display: flex;
    background-color: #ee69ec8b;
    width: 100%;
    margin-top: 0;
    transition: top 0.4s;
}

.navbarStyle a{
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.navbarStyle a:hover{
    color: #5106838b;
}

.homeNav {
    display: flex;
    width: 250px;
    flex-direction: row;
    flex-wrap: wrap;
}

.homeNav a{
    display: flex;
    align-content: center;
    width: 100%;
    font-size: xxx-large;
    padding: 0px;
    font-family: url('../../assets/fonts/moonlite-outline.ttf');
    
}

.homeNav h2 {
    font-size: xxx-large;
    padding: 0px;
    font-family: url('../../assets/fonts/moonlite-outline.ttf');
}

.navbarRight, .navCenter {
    width: 300px;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}

.navbarRight a, .navCenter a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: white;
}

