.register-input {
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(255, 255, 255);;
    border: none;
    height: 40px;
    text-transform: upper;
    text-align: center;
}

.register-label {
    padding-bottom: 5px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



#email, #password, #repassword {
    width: 230%;
    position: relative;
    left: -66%;
}

.form-container {
    padding: 20px;
    margin: 0% 10% 0% 10%;
    border-radius: 10px;
}

.form-container div {
    padding: 10px;
}

.gender-div {
    display: flex;
    justify-content: space-evenly;
}

.gender-button {
    width: 100px;
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 20px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    margin: 0px 5px;
    outline: none;
    padding: 12px 22px;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
}

.gender-button:hover {
    background-color: #e0e0e0;
    border-color: #aaa;
}

.gender-button.selected {
    background-color: #ee69ecbe;
    border-color: #ee69ecbe;
    color: #fff;
}

#submit-button {
    width: 320px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 20px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    margin: 0px 5px;
    outline: none;
    padding: 12px 22px;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
}

#submit-button:hover {
    background-color: #ee69ec8b;
}

.password-icon {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px; 
    height: 20px;
}

.wrapper {
    position: relative;
    display: inline-block;
}