@font-face {
  font-family: "moonlite-outline";
  src: url("../../assets/fonts/moonlite-outline.ttf");
}

.title {
  text-align: center;
  font-family: "moonlite-outline";
  font-weight: 200;
  font-size: 100px;
  color: #f6ecf4;
  text-transform: uppercase;
  margin-top: 14vh;
  margin-bottom: 3vh;
  letter-spacing: 1vh;
}
