@font-face {
  font-family: "moonlite-outline";
  src: url("/src/assets/fonts/moonlite-outline.ttf");
}

.title {
  text-align: center;
  font-family: "moonlite-outline";
  font-size: 90px;
  color: #58315c;
  text-transform: uppercase;
  margin: auto;
}