@font-face {
  font-family: "marvel";
  src: url("../../assets/fonts/Lorenta\ 400.ttf");
}

.title {
  text-align: center;
  font-family: "marvel";
  font-weight: 200;
  font-size: 100px;
  color: #fefefe;
  text-transform: uppercase;
  margin-top: 14vh;
  margin-bottom: 3vh;
  letter-spacing: 1vh;
}
