@font-face {
  font-family: "moonlite-outline";
  src: url("/src/assets/fonts/moonlite-outline.ttf");
}

.landingPageTitle {
  font-size: 26vw;
  font-family: "moonlite-outline";
  margin-bottom: 10vh;
  margin-top: 20vh;
  color: #58315c;
}

.landingPageSubtitle {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 4vw;
  color: rgba(255, 255, 255, 0);
  color: #58315c;
}

.llamaSubheading {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 5vh;
  color: #ffffff;
  padding: 6vh;
  padding-top: 20%;
  text-shadow: #2f2e31;
  -webkit-text-stroke: 2px #58315c;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 17vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  gap: 10vh;
  z-index: 1;
}

.buttonContainer Button {
  border-radius: 40px;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 25px 55px;
  width: 250px;
  font-size: x-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  margin: 0px 5px;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.registerButton {
  margin-right: "2vw";
}

.landingLoginButton:hover,
.registerButton:hover {
  background-color: #ee69ec8b;
}

.landingPageContainer {
  background-color: #bfa2db;
  background-repeat: no-repeat;
  height: 800px;
  z-index: 0;
}

@media screen and (max-width: 1200) {

  .aboutContainer, .aboutContainer2 {
    flex-direction: column;
    flex-wrap: wrap;
  }

 
  
}