@font-face {
  font-family: "moonlite-outline";
  src: url("/assets/fonts/moonlite-outline.ttf");
}

.subtitle {
  text-align: center;
  font-family: "moonlite-outline";
  font-size: 30px;
  color: white;
  margin-bottom: 100px;
  text-transform: uppercase;
}
